.post-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-wrapper {
  margin-bottom: 15px;
}

.reddit-icon {
  height: 40px;
  width: 40px;
  color: #ff5e5e;
}

.post-title {
  color: #868686;
}
